body {
  font-family: "Ubuntu";
}

.teaser {
  border-top: 4px solid #ffda2d;
  background: url("/assets/header-bg.svg");
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 6rem;
}

.logo {
  width: 165px;
}

.claim {
  font-size: 28px;
  letter-spacing: 0.5px;
  color: #333333;
  margin-top: 1rem;
}

.data {
  margin-top: 20vh;
}

.data-label {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #979797;
}

.data-value {
  font-size: 28px;
  font-weight: 300;
  color: #333333;
  text-align: center;
}

.cta {
  background-color: #333333;
  color: white;
  border-color: #000;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  margin-top: 15vh;
}


@
